<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Block_b</key>
	<dict>
		<key>animDesc</key>
		<string>Block_b_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>18</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>22</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>66</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>b</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Block_g</key>
	<dict>
		<key>animDesc</key>
		<string>Block_g_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>19</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>24</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>60</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>g</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Block_o</key>
	<dict>
		<key>animDesc</key>
		<string>Block_o_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>20</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>21</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>50</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>o</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Block_p</key>
	<dict>
		<key>animDesc</key>
		<string>Block_p_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>23</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>25</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>67</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>p</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Block_r</key>
	<dict>
		<key>animDesc</key>
		<string>Block_r_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>18</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>18</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>56</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>r</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Block_y</key>
	<dict>
		<key>animDesc</key>
		<string>Block_y_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>20</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>24</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>88</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>y</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Bomb_b</key>
	<dict>
		<key>copy</key>
		<string>Bomb_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>Bomb_g</key>
	<dict>
		<key>copy</key>
		<string>Bomb_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>Bomb_o</key>
	<dict>
		<key>copy</key>
		<string>Bomb_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>Bomb_p</key>
	<dict>
		<key>copy</key>
		<string>Bomb_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>Bomb_r</key>
	<dict>
		<key>copy</key>
		<string>Bomb_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>Bomb_xyz</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>prio</key>
				<string>4</string>
				<key>singleFrame</key>
				<string>Bomb_xyz_001.png</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
	</dict>
	<key>Bomb_y</key>
	<dict>
		<key>copy</key>
		<string>Bomb_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>Changer_b</key>
	<dict>
		<key>copy</key>
		<string>Changer_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>Changer_g</key>
	<dict>
		<key>copy</key>
		<string>Changer_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>Changer_o</key>
	<dict>
		<key>copy</key>
		<string>Changer_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>Changer_p</key>
	<dict>
		<key>copy</key>
		<string>Changer_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>Changer_r</key>
	<dict>
		<key>copy</key>
		<string>Changer_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>Changer_xyz</key>
	<dict>
		<key>animDesc</key>
		<string>Changer_xyz_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>ChargeBlock</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>18</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Changer_y</key>
	<dict>
		<key>copy</key>
		<string>Changer_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>Color_b</key>
	<dict>
		<key>copy</key>
		<string>Color_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>Color_g</key>
	<dict>
		<key>copy</key>
		<string>Color_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>Color_o</key>
	<dict>
		<key>copy</key>
		<string>Color_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>Color_p</key>
	<dict>
		<key>copy</key>
		<string>Color_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>Color_r</key>
	<dict>
		<key>copy</key>
		<string>Color_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>Color_xyz</key>
	<dict>
		<key>animDesc</key>
		<string>Color_xyz_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>ChargeBlock</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>15</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>27</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Pop</key>
			<dict>
				<key>delay</key>
				<string>0.065</string>
				<key>frames</key>
				<string>2 3 4 5 6 7 8</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>1</string>
				<key>prio</key>
				<string>3</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>Color_y</key>
	<dict>
		<key>copy</key>
		<string>Color_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>GlobalAnimations</key>
	<dict>
		<key>Charge</key>
		<dict>
			<key>delay</key>
			<string>0.07</string>
			<key>frames</key>
			<string>6</string>
			<key>looped</key>
			<string>0</string>
			<key>other</key>
			<string>0</string>
			<key>prio</key>
			<string>3</string>
		</dict>
		<key>ChargeBlock</key>
		<dict>
			<key>animFrameName</key>
			<string>Block_xyz_Charge</string>
			<key>delay</key>
			<string>0.07</string>
			<key>frames</key>
			<string>6</string>
			<key>looped</key>
			<string>0</string>
			<key>other</key>
			<string>0</string>
			<key>prio</key>
			<string>3</string>
		</dict>
		<key>Explode</key>
		<dict>
			<key>animFrameName</key>
			<string>Explode_xyz</string>
			<key>delay</key>
			<string>0.0833</string>
			<key>frames</key>
			<string>4</string>
			<key>looped</key>
			<string>0</string>
			<key>other</key>
			<string>0</string>
			<key>prio</key>
			<string>2</string>
		</dict>
	</dict>
	<key>IceBomb_b</key>
	<dict>
		<key>copy</key>
		<string>IceBomb_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>IceBomb_g</key>
	<dict>
		<key>copy</key>
		<string>IceBomb_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>IceBomb_o</key>
	<dict>
		<key>copy</key>
		<string>IceBomb_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>IceBomb_p</key>
	<dict>
		<key>copy</key>
		<string>IceBomb_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>IceBomb_r</key>
	<dict>
		<key>copy</key>
		<string>IceBomb_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>IceBomb_xyz</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>prio</key>
				<string>4</string>
				<key>singleFrame</key>
				<string>IceBomb_xyz_001.png</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
	</dict>
	<key>IceBomb_y</key>
	<dict>
		<key>copy</key>
		<string>IceBomb_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>MegaBomb_b</key>
	<dict>
		<key>copy</key>
		<string>MegaBomb_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>MegaBomb_g</key>
	<dict>
		<key>copy</key>
		<string>MegaBomb_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>MegaBomb_o</key>
	<dict>
		<key>copy</key>
		<string>MegaBomb_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>MegaBomb_p</key>
	<dict>
		<key>copy</key>
		<string>MegaBomb_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>MegaBomb_r</key>
	<dict>
		<key>copy</key>
		<string>MegaBomb_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>MegaBomb_xyz</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>Charge</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>prio</key>
				<string>4</string>
				<key>singleFrame</key>
				<string>MegaBomb_xyz_001.png</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
	</dict>
	<key>MegaBomb_y</key>
	<dict>
		<key>copy</key>
		<string>MegaBomb_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>MegaColor_b</key>
	<dict>
		<key>copy</key>
		<string>MegaColor_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>MegaColor_g</key>
	<dict>
		<key>copy</key>
		<string>MegaColor_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>MegaColor_o</key>
	<dict>
		<key>copy</key>
		<string>MegaColor_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>MegaColor_p</key>
	<dict>
		<key>copy</key>
		<string>MegaColor_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>MegaColor_r</key>
	<dict>
		<key>copy</key>
		<string>MegaColor_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>MegaColor_xyz</key>
	<dict>
		<key>animDesc</key>
		<string>MegaColor_xyz_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Charge</key>
			<dict>
				<key>copy</key>
				<string>ChargeBlock</string>
			</dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>15</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Pop</key>
			<dict>
				<key>animFrameName</key>
				<string>Color_xyz_Pop</string>
				<key>delay</key>
				<string>0.07</string>
				<key>frames</key>
				<string>3 4 5 6 7 8</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>1</string>
				<key>prio</key>
				<string>3</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>MegaColor_y</key>
	<dict>
		<key>copy</key>
		<string>MegaColor_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>MysteryBox_b</key>
	<dict>
		<key>copy</key>
		<string>MysteryBox_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>MysteryBox_g</key>
	<dict>
		<key>copy</key>
		<string>MysteryBox_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>MysteryBox_o</key>
	<dict>
		<key>copy</key>
		<string>MysteryBox_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>MysteryBox_p</key>
	<dict>
		<key>copy</key>
		<string>MysteryBox_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>MysteryBox_r</key>
	<dict>
		<key>copy</key>
		<string>MysteryBox_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>MysteryBox_xyz</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>prio</key>
				<string>4</string>
				<key>singleFrame</key>
				<string>MysteryBox_xyz_001.png</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
	</dict>
	<key>MysteryBox_y</key>
	<dict>
		<key>copy</key>
		<string>MysteryBox_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>Pipe_b</key>
	<dict>
		<key>copy</key>
		<string>Pipe_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>Pipe_g</key>
	<dict>
		<key>copy</key>
		<string>Pipe_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>Pipe_o</key>
	<dict>
		<key>copy</key>
		<string>Pipe_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>Pipe_p</key>
	<dict>
		<key>copy</key>
		<string>Pipe_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>Pipe_r</key>
	<dict>
		<key>copy</key>
		<string>Pipe_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>Pipe_xyz</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>EnterAnim</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>9</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>3</string>
			</dict>
			<key>ExitAnim</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>6</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>2</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>prio</key>
				<string>4</string>
				<key>singleFrame</key>
				<string>Pipe_xyz_001.png</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
	</dict>
	<key>Pipe_y</key>
	<dict>
		<key>copy</key>
		<string>Pipe_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>Skull_b</key>
	<dict>
		<key>copy</key>
		<string>Skull_xyz</string>
		<key>replaceTag</key>
		<string>b</string>
	</dict>
	<key>Skull_g</key>
	<dict>
		<key>copy</key>
		<string>Skull_xyz</string>
		<key>replaceTag</key>
		<string>g</string>
	</dict>
	<key>Skull_o</key>
	<dict>
		<key>copy</key>
		<string>Skull_xyz</string>
		<key>replaceTag</key>
		<string>o</string>
	</dict>
	<key>Skull_p</key>
	<dict>
		<key>copy</key>
		<string>Skull_xyz</string>
		<key>replaceTag</key>
		<string>p</string>
	</dict>
	<key>Skull_r</key>
	<dict>
		<key>copy</key>
		<string>Skull_xyz</string>
		<key>replaceTag</key>
		<string>r</string>
	</dict>
	<key>Skull_xyz</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>Explode</key>
			<dict>
				<key>copy</key>
				<string>Explode</string>
			</dict>
			<key>Idle01</key>
			<dict>
				<key>prio</key>
				<string>4</string>
				<key>singleFrame</key>
				<string>Skull_xyz_001.png</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
	</dict>
	<key>Skull_y</key>
	<dict>
		<key>copy</key>
		<string>Skull_xyz</string>
		<key>replaceTag</key>
		<string>y</string>
	</dict>
	<key>Stone</key>
	<dict>
		<key>animations</key>
		<dict>
			<key>Idle01</key>
			<dict>
				<key>prio</key>
				<string>4</string>
				<key>singleFrame</key>
				<string>Stone_01_001.png</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>prio</key>
				<string>3</string>
				<key>singleFrame</key>
				<string>Stone_01_b_001.png</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>spriteSheet</key>
		<string>ObjectSheet</string>
		<key>useFBF</key>
		<string>1</string>
	</dict>
	<key>xl_Block_b</key>
	<dict>
		<key>animDesc</key>
		<string>xl_Block_b_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>18</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>22</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>66</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>b</string>
		<key>spriteSheet</key>
		<string>menuSheet</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>xl_Block_g</key>
	<dict>
		<key>animDesc</key>
		<string>xl_Block_g_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>19</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>24</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>60</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>g</string>
		<key>spriteSheet</key>
		<string>menuSheet</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>xl_Block_o</key>
	<dict>
		<key>animDesc</key>
		<string>xl_Block_o_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>20</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>21</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>50</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>o</string>
		<key>spriteSheet</key>
		<string>menuSheet</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>xl_Block_p</key>
	<dict>
		<key>animDesc</key>
		<string>xl_Block_p_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>23</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>25</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>67</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>p</string>
		<key>spriteSheet</key>
		<string>menuSheet</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>xl_Block_r</key>
	<dict>
		<key>animDesc</key>
		<string>xl_Block_r_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>18</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>18</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>56</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>r</string>
		<key>spriteSheet</key>
		<string>menuSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
	<key>xl_Block_y</key>
	<dict>
		<key>animDesc</key>
		<string>xl_Block_y_AnimDesc.plist</string>
		<key>animations</key>
		<dict>
			<key>Idle01</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>20</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle02</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>24</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
			<key>Idle03</key>
			<dict>
				<key>delay</key>
				<string>0.0833</string>
				<key>frames</key>
				<string>88</string>
				<key>looped</key>
				<string>0</string>
				<key>other</key>
				<string>0</string>
				<key>prio</key>
				<string>4</string>
				<key>usesParts</key>
				<string>1</string>
			</dict>
		</dict>
		<key>defaultAnimation</key>
		<string>Idle01</string>
		<key>replaceTag</key>
		<string>y</string>
		<key>spriteSheet</key>
		<string>menuSheet</string>
		<key>useFBF</key>
		<string>1</string>
		<key>usePA</key>
		<string>1</string>
	</dict>
</dict>
</plist>
