<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boomIcon_00_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,936},{119,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{119,122}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>boomIcon_01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1154},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1057},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,950},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,942},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_06_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1076},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_07_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1177},{118,120}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,120}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>boomIcon_08_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,928},{124,116}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{124,116}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>boomIcon_09_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1070},{118,120}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,120}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>boomIcon_10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{122,116}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>boomIcon_11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1062},{122,112}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,112}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>boomIcon_12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,814},{126,112}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{126,112}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>boomIcon_13_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,550},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boomIcon_14_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1196},{122,116}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>boomIcon_15_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,554},{144,144}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{168,156}</string>
            </dict>
            <key>boomIcon_16_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,280},{156,142}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{156,142}}</string>
                <key>sourceSize</key>
                <string>{168,156}</string>
            </dict>
            <key>boomIcon_17_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,144}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,144}}</string>
                <key>sourceSize</key>
                <string>{188,160}</string>
            </dict>
            <key>boomIcon_18_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,452},{148,114}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{148,114}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>boomIcon_19_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,910},{122,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_20_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,812},{122,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_21_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,704},{122,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_22_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,694},{122,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_23_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,328},{122,150}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>boomIcon_24_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,688},{122,126}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,126}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_25_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{148,122}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{148,122}}</string>
                <key>sourceSize</key>
                <string>{172,132}</string>
            </dict>
            <key>boomIcon_26_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,424},{144,124}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,124}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>boomIcon_27_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,396},{148,120}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{148,120}}</string>
                <key>sourceSize</key>
                <string>{168,128}</string>
            </dict>
            <key>boomIcon_28_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{122,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_29_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,818},{122,122}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boomIcon_30_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,788},{120,126}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{120,126}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_31_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,446},{132,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{132,138}}</string>
                <key>sourceSize</key>
                <string>{132,160}</string>
            </dict>
            <key>boomIcon_32_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,652},{136,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boomIcon_33_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,690},{122,130}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{122,130}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>boomIcon_34_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>boomIcon_35_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,518},{140,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,132}}</string>
                <key>sourceSize</key>
                <string>{140,132}</string>
            </dict>
            <key>boomIcon_36_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,316},{156,128}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{156,128}}</string>
                <key>sourceSize</key>
                <string>{168,136}</string>
            </dict>
            <key>boomIcon_37_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,266},{160,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,128}}</string>
                <key>sourceSize</key>
                <string>{160,136}</string>
            </dict>
            <key>boomIcon_38_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,580},{122,126}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{122,126}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>boomIcon_39_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{170,128}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{170,128}}</string>
                <key>sourceSize</key>
                <string>{176,140}</string>
            </dict>
            <key>boomIcon_40_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,828},{122,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_41_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,570},{122,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_42_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,568},{120,140}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{124,148}</string>
            </dict>
            <key>boomIcon_43_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,828},{120,122}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{120,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_44_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,178},{156,120}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{156,120}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>boomIcon_45_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1166},{122,116}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>boomIcon_46_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{144,132}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,132}}</string>
                <key>sourceSize</key>
                <string>{148,140}</string>
            </dict>
            <key>boomIcon_47_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1046},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_48_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,700},{128,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boomIcon_49_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{162,134}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,134}}</string>
                <key>sourceSize</key>
                <string>{184,144}</string>
            </dict>
            <key>boomIcon_50_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,300},{152,126}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,126}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>boomIcon_51_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{170,162}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{170,162}}</string>
                <key>sourceSize</key>
                <string>{184,196}</string>
            </dict>
            <key>boomIcon_52_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1034},{118,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{118,122}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>boomIcon_53_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,446},{124,122}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>boomIcon_54_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1062},{118,120}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,120}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>boomIcon_55_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,122}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{174,122}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>boomIcon_56_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{122,122}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boomIcon_57_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{138,166}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,166}}</string>
                <key>sourceSize</key>
                <string>{144,184}</string>
            </dict>
            <key>boomIcon_58_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,132},{132,164}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,164}}</string>
                <key>sourceSize</key>
                <string>{132,180}</string>
            </dict>
            <key>boomIcon_59_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,952},{122,122}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boomIcon_60_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{122,150}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{128,168}</string>
            </dict>
            <key>boomIcon_61_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,428},{148,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{148,124}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
            <key>boomIcon_62_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,166},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boomIcon_63_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{182,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{182,174}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>boomIcon_64_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{152,150}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,150}}</string>
                <key>sourceSize</key>
                <string>{152,168}</string>
            </dict>
            <key>boomIcon_65_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,142},{160,136}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,136}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>boomIcon_66_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,166},{148,144}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{148,144}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boomIconSheet-hd.png</string>
            <key>size</key>
            <string>{1024,1410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4da0c132e4205fdc5e75b7c733bbffb9$</string>
            <key>textureFileName</key>
            <string>boomIconSheet-hd.png</string>
        </dict>
    </dict>
</plist>
